/.classpath
/.gradle/4.7/fileChanges/last-build.bin
/.gradle/4.7/fileContent/annotation-processors.bin
/.gradle/4.7/fileContent/fileContent.lock
/.gradle/4.7/fileHashes/fileHashes.bin
/.gradle/4.7/fileHashes/fileHashes.lock
/.gradle/4.7/fileHashes/resourceHashesCache.bin
/.gradle/4.7/taskHistory/taskHistory.bin
/.gradle/4.7/taskHistory/taskHistory.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcsWorkingDirs/gc.properties
/.project
/.settings/org.eclipse.buildship.core.prefs
/bin/.gitignore
/build.gradle
/build/classes/java/main/App.class
/build/classes/java/test/AppTest.class
/build/libs/gs-spring-boot-0.1.0.jar
/build/reports/tests/test/classes/AppTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/index.html
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/default-package.html
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-AppTest.xml
/build/tmp/bootJar/MANIFEST.MF
